/* colorscheme for Kalix */
$primary_color: #397B9D;
$secondary_color: #E97149;
$primary_color_50: rgba(57, 123, 157, .5);
$secondary_color_50: rgba(233, 113, 73, .5);

$text_dark: #000000;
$text_light: #FFFFFF;

$background_color: white;
$special_bg_color: #E9F4F6;

